! nfacctd configuration template
daemonize: false
debug: false
pidfile: /var/run/nfacctd.pid

! Log timestamps format
log_timestamps: true
log_timestamps_format: %Y-%m-%d %H:%M:%S

! Print periodic flow and packet statistics to container stdout every 60 seconds
nfacctd_st_time: 30

! interested in in and outbound traffic
aggregate[in]: src_host, dst_host, proto, tag, src_mac, dst_mac, vlan, src_port, dst_port
aggregate_filter[in]: (dst net ${LOCAL_SUBNET} or dst net ${LOCAL_SUBNET_V6}) and not (src net ${LOCAL_SUBNET} or src net ${LOCAL_SUBNET_V6})

aggregate[out]: src_host, dst_host, proto, tag, src_mac, dst_mac, vlan, src_port, dst_port
aggregate_filter[out]: (src net ${LOCAL_SUBNET} or src net ${LOCAL_SUBNET_V6}) and not (dst net ${LOCAL_SUBNET} or dst net ${LOCAL_SUBNET_V6})

plugins: mysql[in], mysql[out]

sql_user: ${DB_USER}
sql_passwd: ${DB_PASSWORD}
sql_db: ${DB_NAME}
sql_host: ${DB_HOST}

sql_optimize_clauses: true

nfacctd_port: ${NFACCTD_PORT}
sql_refresh_time: 120
sql_history: 10m
sql_history_roundoff: mh
sql_table_version: 2

sql_table[in]: inbound_%m%Y
sql_table[out]: outbound_%m%Y
sql_table_schema[in]: /etc/pmacct/inbound.sql
sql_table_schema[out]: /etc/pmacct/outbound.sql
